
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/back.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: #6d747b;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    
}
a:hover {
    background-color: #9ca890;
}
